.WheelContainer {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    pointer-events: none;
    user-select: none;
}

.Wheel {
    width: 100%;
    height: 100%;

    box-sizing: border-box;


    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    transition: transform 3s cubic-bezier(0.25, 0.1, 0.25, 1);

    pointer-events: auto;
    background: #ff0000;

}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.WheelPointer {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #fff;

    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.WheelHub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 30px !important;
    height: 30px !important;
    background: white !important;;
    border-radius: 50%;
    border: 8px solid red !important;;

    display: flex;
    align-items: center;
    justify-content: center;

    color: red !important;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 5;
}